* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-weight: 500;
}

.panel-heading {
    font-size: 21px;
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.modal-header > .modal-title {
    font-size: 15px;
    font-family: 'Times New Roman';
    font-weight: 500;
    font-style: normal;
}

.card-title {
    font-size: 18px;
    font-style: normal;
    font-family: Tahoma;
    letter-spacing: 1px;
}

.table-layout {
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px;
    border-style: ridge;
    width: 100%;
    padding: 16px;
}

.table-layout-2 {
    font-size: 14px;
    border: 1px;
    border-style: ridge;
    padding: 12px;
}

.table-layout-3 {
    border-top: 0;
}

.table-layout-4 {
    border-bottom: 0;
}

.fa-refresh {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}